<!DOCTYPE html>
<html>
<head>
  <title>Search Student</title>
</head>
<body>
	<form action="/student">
		<label for="student_id">Student Id:</label>
		<input type="text" name = "student_id">
		<button type="submit">Searh</button>
	</form>
</body>
</html>