body{
	background-color: lightgray;
}



.octopus{
	display: block;
	width: 20%;
	margin:auto;
	margin-top: 10%
}
.glasses{
	position:absolute;
	width: 15%;
	margin-left:42%;
	margin-top: 9%;
	z-index: 2;
}
.hat{
	position:absolute;
	width: 19%;
	margin-left:41%;
	margin-top: -6%;
	z-index: 2;
}